$colorOne: #ff7315;
$colorTwo: #4dd599;
$colorThree: #767676;
$colorFour: #ff0000;

$colorLight: #fff;
$colorDark: #232020;


$fontMain: Lato, serif;

$transition: all .7s;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-size: 16px;
    text-align: center;
    font-family: $fontMain;
    color: $colorDark;
    background-color: $colorThree;
}

.font{

    &-header{
        font-size: 42px;
        font-weight: 600;
    }

    &-btn{
        font-family: Lato;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    &-score{
        font-size: 162px;
        font-weight: 600;
        opacity: .3;
    }

    &-text{
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
    }

    &-rounds{
        font-size: 26px;
        font-weight: 300;
        color: $colorFour;
        opacity: .3;
        
        span{
            display: block;
            font-size: 36px;
            font-weight: 600;
        }
    }

    &-color__light{
        color: $colorLight;
    }
    
    &-color__green{
        color: $colorTwo;
    }

    &-color__red{
        color: $colorFour;
    }
}

.btn{
    padding: 8px 20px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    transition: $transition;

    &:focus {
        outline: none;
    }

    &:active{
        transform: translateY(12px);
    }
    &-start{
        min-width: 170px;
        border: 2px solid $colorDark;         
        margin-right: 25px;
        margin: 0 auto;

        &:hover{
            background-color: $colorDark;
            color: $colorLight;
        }
    }

    &-choice{
        width: 130px;
        padding: 6px 6px;
        margin-top: 10px;
        background-color: $colorOne;
        border: 2px solid $colorOne;

        &:hover{
            background-color: $colorDark;
            border: 2px solid $colorDark;
        }
    }
}


section{
    padding: 78px 0 0 0;
}



.page-header{
    padding: 22px 0;
    background-color: $colorDark;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: $colorLight;       
}

.page-content{

    

    .game-start{
        position: relative;

        #error-message{
            display: none;
            position: absolute;
        }

        button{
            margin: 20px 0;
        }
    }

    .game-content{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    
        img{
            width: 200px;
            object-fit: cover;
        }

        .box{
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}


.results table{
    margin: 20px auto;
    
    td{
        padding: 10px 15px;
    }
}